<%- include('partials/header') %>

<%- include("partials/navbar") %> 

<div class="form pt-5">
    <h1 class="card-title p-1">Add Password</h1>
    <div class="card">
      <div class="card-body">
        <form action="/user/add" method="POST">
          <div class="mb-2">
            <label for="email" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" placeholder="Enter title of the website">
          </div>
          <div class="mb-2">
            <label for="password" class="form-label">Password</label>
            <input type="text" class="form-control" name="password" placeholder="Enter password">
          </div>
          <div class="mb-2">
            <label for="key" class="form-label">Key</label>
            <input type="text" class="form-control" name="key" placeholder="Enter key">
          </div>
          <button type="submit" class="btn mt-1">Add</button>
        </form>
      </div>
    </div>
  </div>

<%- include('partials/footer') %>