<%- include('partials/header') %>

<div class="form">
  <h1 class="p-1">Register</h1>
  <div class="card">
    <div class="card-body">
      <form action="/auth/register" method="POST">
        <div class="mb-2">
          <label for="username" class="form-label">Username</label>
          <input type="text" placeholder="Enter Username" class="form-control" name="username" required>
        </div>
        <div class="mb-2">
          <label for="email" class="form-label">Email</label>
          <input type="email" placeholder="Enter Email" class="form-control" name="email" required>
        </div>
        <div class="mb-2">
          <label for="password" class="form-label">Password</label>
          <input type="password" placeholder="Enter password" class="form-control" name="password" required>
        </div>
        <button type="submit" class="btn mt-1">Register</button>
      </form>
      <h4><%= info %> </h4>
    </div>
  </div>
</div>

<%- include('partials/footer') %>